{{#each this}}
<div class="card-divider comment spread-out">
	<div>{{{display_user this.user}}}</div>
	<div>{{format_date this.createdAt}}</div>
</div>
<div class="card-section">
	<p>
		{{this.comment_text}}
	</p>
	{{#if this.myComment}}
	<div style="text-align: right;">
		<button type="button" class="button" data-id="{{this.id}}">Edit</button>
	</div>
	{{/if}}
</div>
{{/each}}