<div class="grid-container" style="padding: 0; margin: 0;">
    <div class="grid-x align-middle" style="height: 90vh; width: 100vh; margin: 0;">
        <div style="margin-top: 1rem;">
            <div class="cta-background flex-container">
                <div class="cta-filter">
                    <h1 class="cta-title"><span style="white-space: nowrap;">Love to read?&ensp;</span><span style="white-space: nowrap;">Want to Connect?&ensp;</span></h1>
                    <div class="cta-mission flex-container align-right">
                        <p class="cta-p">
                            Let Pagebound connect you with other readers in your area and across the internet. Create book clubs and start discussions about your favorite books, and contact other users via direct message.
                        </p>
                    </div>
                    <div class="flex-container align-right">
                        <div class="cta-button-container">
                        <a href="/signup" class="button expanded cta-button">Sign Up Today!</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>