<button id="search-local-clubs">Search Local Clubs</button>
<div style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center">
<img src="https://media.giphy.com/media/g4nHG6pBP525q/giphy.gif" alt="">
</div>
<script src="/javascript/club-search.js"></script>