
<div id="dashboard-container" class="grid-container">
    <div class="grid-x align-center">
        <div class="cell small-0 large-1"></div>
        <div class="cell small-12 large-11">
            <ul class="dropdown menu dashboard-menu" data-dropdown-menu>    
                <li><a href="#" class="button middle">Clubs</a>
                    <ul class="menu">
                        {{#each userData.clubs}}
                        <li><a href="">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li><a href="#" class="button left"><i class="fi-list foundicon-mail"></i>&emsp;Messages</a></li>
                <li><a href="/club-search" class="button light middle"><i class="fi-list foundicon-location"></i>&emsp;Find Clubs Near Me</a></li>
                <li><a href="/create-club" class="button light right"><i class="fi-list foundicon-plus"></i>&emsp;Create a Club</a></li>
                <li><a href="/change-user-settings" class="button middle"><i class="fi-list foundicon-settings"></i>&emsp;Account Settings</a></li>
            </ul>
        </div>
    </div>
</div>
