<div class="grid-container">
    <div class="grid-x grid-margin-x align-center align-middle" style="height: 90vh;">
        <div class="cell small-6 card">
            <div class="card-divider">Sign in to Your Account</div>
            <div class="card-section">
            <div class="small-12 cell">
                <label>Email
                    <input type="text" placeholder="example@user.com" id="username-login">
                </label>
            </div>
            <div class="small-12 cell">
                <label>Password
                    <input type="password" id="password-login">
                </label>
            </div>
            <div class="flex-container align-middle">
                <button type="submit" class="button" style="margin-right: 5px;" id="login-form">Login!</button>
                <p>or <a href="/signup">Sign Up!</a></p>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>