/* password match styles */
.passwords-match-false {
    border-color: red;
}
.passwords-match-false:focus {
    border-color: red;
}

.passwords-match-true {
    border-color: green;
}
.passwords-match-true:focus {
    border-color: green;
}
/* password match styles end */

/* blank field styles */
.blank-field {
    border-color: red;
}
.blank-field:focus {
    border-color: red;
}
/* blank field styles end */

.menu-text {
    margin-left: 60px;
    position: relative;
    vertical-align: center;
}

.menu-text::before {
	background-image: url('../images/logo-sm.png');
	background-size: cover;
	content: '';
	display: inline-block;
	position: absolute;
	height: 24px;
	left: -54px;
	width: 60px;
}